.canvas {
    background-color: black;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scoreboard {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 24px;
    font-family: Arial, sans-serif;
}

@media only screen and (max-width: 600px) {
    .scoreboard {
        font-size: 18px;
    }
}